<plugin name='gertx' version='0.1' grailsVersion='2.3 &gt; *'>
  <author>Rodrigo Salado Anaya</author>
  <authorEmail>rodrigo.salado.anaya@gmail.com</authorEmail>
  <title>Gertx Plugin</title>
  <description>Gertx trae el porder de vertx a Grails
</description>
  <documentation>http://grails.org/plugin/gertx</documentation>
  <type>GertxGrailsPlugin</type>
  <resources>
    <resource>org.grails.gertx.GertxService</resource>
    <resource>org.grails.gertx.GertxUtilsService</resource>
  </resources>
</plugin>